<script lang="ts">

	import { page } from "$app/stores";

</script>

<template lang="pug">

	div.font-mono.grid.h-screen.w-screen.grid-cols-1.place-content-center.place-items-center.bg-primary.text-neutral-100
		div.text-36.mb-2.text-accent
			span Error \#{ $page.status }

</template>
